@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ;
}

#__next {
    height: 100%;
}

#particles {
    position: absolute;
    z-index: -999;

}

input,
textarea {
    all: unset
}

.swiper-button-prev ion-icon,
.swiper-button-next ion-icon {
    color: red !important;
}